.key-data {
    grid-area: 1 / 4 / 6 / 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    .box {
        background-color: #FBFBFB;
        border-radius: 5px;
        height: 20%;
        display: flex;
        padding: 50px;
        align-items: center;

        svg {
            border-radius: 5px;
            background-color: white;
            width: 60px;
            height: 60px;
            padding: 15px;
            margin-right: 30px;
        }
        .infos {
            display: flex;
            flex-direction: column;
            span {
                font-size: 1.3em;
                font-weight: bold;
            }
        }
    }

    @media screen and (max-width: 1370px) {
        grid-area: 1 / 5 / 6 / 6;
    }
}
