.performance { 
    background-color: #282D30;
    border-radius: 5px;
    grid-area: 4 / 2 / 6 / 3;
    margin-right: 35px;
    height: 300px;

    @media screen and (max-width: 1370px) {
        grid-area: 4 / 1 / 6 / 3;
    }
}