@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$color-1: #FF0101;
$color-2: rgb(40, 45, 48);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    color: black;

    min-width: 1004px;
    height: 1024px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}