@import './settings.';
@import '../Styles/Navbar/_navbar-top.scss';
@import '../Styles/Navbar/navbar-left';
@import '../Styles/Navbar/navigation-left';
@import '../Styles/Navbar/navigation-top';
@import '../Styles/Navbar/logo';
@import '../Styles/Navbar/copyright';
@import '../Styles/Header/header';
@import '../Styles/Graphics/activities';
@import '../Styles/Graphics/keyData';
@import '../Styles/Graphics/averageSessions';
@import '../Styles/Graphics/performance';
@import '../Styles/Graphics/score';
@import './NotFound';

.graphics {
    display: grid;
    height: 750px;
    margin-left: 170px;
    margin-right: 70px;
    margin-top: 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    @media screen and (max-width: 1370px) {
        grid-template-columns: repeat(5, 1fr);
    }
}

.graph_alone {
    margin-top: 10px;
    display: block;
}