.navbar-left {
    background-color: rgb(1%, 1%, 1%);
    height: 100%;
    position: fixed;
    top: 0;
    color: white;
    width: 91px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}