.navigation-top {
    width: 70%;
    display: flex;
    margin-right: 110px;
    font-size: 1.4em;
    z-index: 2;
    ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        li:hover {
            cursor: pointer;
            color: $color-1;
        }
    }
}